@media (max-width: 610px) {
  html,
  body {
    margin: 0;
  }

  #myInfo,
  #myLanguages {
    td::first-child {
      padding-left: 20px;
    }
  }

  .blockHeader .header {
    padding: 0 2.3vw;
  }

  #aboutMe,
  #myExperience {
    columns: 1;
  }
}
