@media (min-width: 2000px) and (max-width: 2812px) {
  body {
    columns: 3;
  }

  #avatar {
    width: auto;
    max-height: 30%;
  }

  #professional {
    order: 1;
  }

  #experienced {
    order: 2;
  }

  #teammate {
    order: 3;
  }

  #educated {
    order: 4;
  }

  #enthusiast {
    order: 5;
  }

  #tags {
    order: 6;
  }

  #resources {
    order: 7;
  }
}
