@media (min-width: 670px) and (max-width: 860px) {
  #myInfo {
    display: inline-block;
  }

  #aboutMe {
    width: 97.7%;

    .blockHeader .header {
      padding: 0 1.5vw 0 1.5vw;
    }
  }

  #myExperience {
    columns: 1;
    width: 99%;
    margin-left: -0.6%;

    .blockHeader .header {
      padding: 0 1.5vw 0 1.5vw;
    }
  }

  blockquote {
    font-size: 1.1rem !important;
  }
}
