@media (min-width: 1300px) and (max-width: 2000px) {
  body {
    columns: 2;
  }

  .exLogo > * {
    max-width: 11rem;
  }

  #professional {
    order: 1;
  }

  #teammate {
    order: 2;
  }

  #enthusiast {
    order: 3;
  }

  #tags {
    order: 4;
    break-after: column;
  }

  #resources {
    order: 8;
    break-inside: avoid;
  }

  #dateGen {
    break-after: always;
    // order: 6;
    // text-align: left;
    padding-right: 0;
  }

  #experienced {
    order: 7;
    padding-top: 1.5rem !important;
  }

  #educated {
    order: 8;
  }
}
