include _blckDetails

mixin blckSections(sections, date_locales, locale_organisation, locale_tag, reverse, toggleable)
    each section in sections
        section.targetable.core(id = section['_id'])
            if ('quote' in section)
                blockquote !{section['quote']}
            h4.blockHeader
                span.headline
                    sub
                span.header
                    a.silent(href = '#' + section['_id'])
                        | #{section['title']}
            - const log = reverse ? section['items'].reverse() : section['items']
            each item in log
                +blckDetails(item, date_locales, locale_organisation, locale_tag, toggleable)
            p.underline
                sub
