include _blckDetailsInfo
include _blckDetailsSummary

mixin blckDetails(item, date_locales, locale_organisation, locale_tag, toggleable = false)
    - const data_tags = 'tags' in item ? item['tags'].join(' ') : undefined

    //- details.paragraph.targetable(id = item['_id'], data-tags = data_tags, data-toggleable = toggleable ? 'true' : 'false', open = toggleable == true ? undefined : 'open')
    .paragraph.targetable(id = item['_id'], data-tags = data_tags)
        +blckDetailsSummary(item, date_locales, toggleable)

        if (locale_tag && data_tags !== undefined)
            //- details.info
            .info
                //- summary
                //-     +blckDetailsInfo(item)
                //-     .infoSign.noprint !{'&#9432;'}
                //- | #{locale_tag}:
                //- | !{'&nbsp;'}

                - let box_id = 'kw_' + item['_id']
                +blckDetailsInfo(item)
                //- label.infoSign.noprint(for = box_id) !{'&#9432;'}
                //- input.kwTgl.noprint.nodisplay(type = 'checkbox', id = box_id)

                input.kwTgl.noprint(readonly = 'readonly', size = '1', aria-label = box_id, id = box_id)
                .infoSign.noprint !{'&#9432;'}
                .keywords.noprint
                    | !{'[&nbsp;'}
                    - const tags = data_tags.split(' ')
                    each tag in tags
                        a.silent(href = '#' + tag)
                            | #{tag}
                        span.separator #{', '}
                    | !{'&nbsp;]'}
        else
            +blckDetailsInfo(item)
