mixin itemLink(resource, uid = '', className = undefined)
    if (resource === undefined || resource == null)
        - resource = {} // remove when fixed
    - const link = 'link' in resource ? resource['link'] : undefined
    - let target = undefined
    if (link !== undefined)
        - target = 'target' in resource ? resource['target'] : '_blank'

    - const download = 'filename' in resource ? resource['filename'] : undefined
    - const label = 'label' in resource ? resource['label'] : (download || resource['link'])
    - const classNameCustom = 'class' in resource ? resource['class'] : className
    - const title = 'title' in resource ? resource['title'] : undefined
    - const dataDuration = 'data-duration' in resource ? resource['data-duration'] : undefined
    if (link !== undefined)
        a(href = link, class = classNameCustom, data-duration = dataDuration, download = download, title = title, target = target)
            | !{label}
    else
        span(class = classNameCustom, data-duration = dataDuration, title = title) !{label}
