include _labelAndVisibleUrlItem
include _picItem

mixin listLinked(listItems, className = undefined, iconic = undefined)
    if (iconic)
        each l_item in listItems
            tr(class = className)
                td
                    +picItem(l_item['resource']['picture'])
                td
                    +labelAndVisibleUrlItem(l_item)

    else
        ul(class = className)
            each l_item in listItems
                li
                    +labelAndVisibleUrlItem(l_item)
