include _linkIconic
include _picItem

mixin listIconic(listItems, iconWidth, iconHeight, className = undefined, imageClassName = undefined)
    each l_item in listItems
        +linkIconic(l_item['resource'], iconWidth, iconHeight, className, imageClassName)
