include _listSimple
include _listItemsLinked

mixin listLeveled(listItems, wrapperClass = undefined)
    ul(class = wrapperClass)
        each l_item in listItems
            li
                span #{l_item['title']}
                if ('list_simple' in l_item)
                    +listSimple(l_item['list_simple'])
                if ('list_linked' in l_item)
                    ul
                        +listItemsLinked(l_item['list_linked'])
                if ('list_leveled' in l_item)
                    +listLeveled(l_item['list_leveled'])
