include _blckPicture

mixin trBadges(tags, tag_picture_overrides, repeat = 3)
    each _ in Array(repeat)
        each tag in tags
            td
                - picture = tag in tag_picture_overrides ? tag_picture_overrides[tag] : tag
                +blckPicture(`tags/${picture}`, 90, 90, ['svg'], tag, 'eager')
